<footer class="footer bg-faded">
  <div class="container">
    <section class="social-share d-flex justify-content-end">
      <a href="https://github.com/romainbellande/ngx-loopback" target="_blank">
        <i class="fa fa-2x fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/RomainBllnd" target="_blank">
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/romain-bellande-429381105" target="_blank">
        <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
      </a>
    </section>
  </div>
</footer>
